/* Custom Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
  }
  
  .section-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .card-title {
    font-weight: bold;
    margin-top: 10px;
  }
  .card:hover {
          transform: translateY(-10px); /* Move the card up slightly when hovered */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Apply a shadow when hovered */
          transition: transform 0.3s, box-shadow 0.3s; /* Add a smooth transition effect */
      }